
<div class="container">

<div class="profile">
	<div class="row">
		<div class="span4">
<%= image_tag @user.image_url(:medium) if @user.image? %></div>
<div class="span2">
<div class="title"><%= @user.username if @user.username? %></div> - <%= link_to 'Edit profile', edit_user_registration_path %>
</div>
</div>
</div>
<br>

<div class="span12">
Posts by 

<br>
<% @user.posts.each do |post| %>

<%= link_to post.title, post_path(post) %> 
<br>
<% end %>
</div>
</div>