// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
   float: left;
   margin-right: 15px;
   margin-bottom: 2px;
   border-radius: 10px;
   display: inline-block;
}


.mainheader {
	font-size: 30px;
	color: #025167;
	margin-top: 10px;
	margin-bottom: 28px;
	text-align: center;
}


.title {
	font-size: 20px;
	color: #FF8100;
	}

.titleshow {
	margin-bottom: 15px;
	font-size: 35px;
	color: #057D9F;
	font-weight: bold;
	align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height:125%
	}

.descriptionshow {
	color: #057D9F;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 4px;
	line-height:125%
	}

.votecountshow {
	color: #057D9F;
	font-size: 40px;
	font-weight: bold;
	margin-top: 18px;
	}		

.tagsshow {
	color: #057D9F;
	font-size: 20px;
	margin-top: 18px;
	margin-bottom: 4px;
	line-height:125%
	}		


.body A:link {color: #FF8100; text-decoration: none}
.body A:visited {color: #61b7cf; text-decoration: none}
.body A:active {color: #61b7cf; text-decoration: none}
.body A:hover {color: #61b7cf ; text-decoration: underline; color: red;}


#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.6em; }
  .m { font-size: 0.8em; }
  .l { font-size: 1.0em; }
}



.description {
	color: #057D9F;
	font-size: 14px;
	margin-top: 6px;
	margin-bottom: 4px;
	line-height:125%
	}	


.votecount {
	color: #057D9F;
	font-size: 10px;
	margin-left: 3px;
	font-weight: bold;
	}	

.tags {
	
	Color: #FF8100;
	font-size: 10px;
	
}

.user {
	
	Color: #61b7cf;
	font-size: 8px;
	float: right;
}

.date {
	font-size: 10px;
	float: right;
	}	

.money {
	
	font-size: 40px;
	color: #FFBA73;
	font-weight: bold;
	margin: 15px 10px 0px 10px;
}	

.comments {
	font-size: 11px;
	color: #D3D3D3;
}

h4 {
	
	text-align: center;
	color: #025167;
	text-weight: bold;
	font-size: 26px;
}	
