// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
   border:1px solid #021a40;
   float: left;
   margin-right: 15px;
}


.title {
	font-size: 22px;
	}





.description {
	color: #057D9F;
	font-size: 14px;
	margin-top: 10px;
	line-height:125%
	}	

.tags {
	
	Color: #FF8100;
	font-size: 12px;
	margin-top: 15px;
	
}

.user {
	
	Color: #61b7cf;
	font-size: 8px;
	float: right;
}

.date {
	font-size: 10px;
	float: right;
	}	

.money {
	
	font-size: 40px;
	color: #FFBA73;
	font-weight: bold;
	margin: 15px 10px 0px 10px;

}	




h4 {
	
	text-align: center;
	color: #025167;
	text-weight: bold;
	font-size: 26px;


}	